@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');


:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

p {
    line-height: 1.8em;
}


img {
    max-width: 100%;
}

button {
    border: 0;
    background: transparent;
}

html {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inter;
    font-size: 15px;
    background-color: var(--off-white);
}

body {
    max-width: 78rem;
    display: grid;
    gap: 2.5rem;
    margin: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.nav__nav {
    display: flex;
    gap: 2.7rem;
    list-style: none;
}

.nav__item__link {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

.nav__item__link:hover {
    color: var(--soft-orange);
}

main {
    display: grid;
    gap: 5rem 2rem;
}

.news-box--1 {
    display: grid;
    gap: 1.8rem;
}


.news-box--1__heading {
    font-weight: 800;
    font-size: 3.8rem;
}

.news-box--1__content {
    color: var(--dark-grayish-blue);
    position: relative;
}

.news-box--1__content__button {
    background-color: var(--soft-red);
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

.news-box--1__content__button:hover {
    background-color: var(--very-dark-blue);
    cursor: pointer;
}

.news-box--2 {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
    display: grid;
    gap: 2rem;
}

.news-box--2__header {
    color: var(--soft-orange);
    font-weight: 700;
    font-size: 2.8rem;
}

.news-box--2__item {
    display: grid;
    gap: 0.8rem;
}

.news-box--2__item__title {
    font-size: 1.3rem;
}

.news-box--2__item__title:hover {
    color: var(--soft-orange);
    cursor: pointer;
}

.news-box--2__item__content {
    color: var(--grayish-blue);
}


.news-box--2__sepration-line {
    background-color: var(--grayish-blue);
    height: 1px;
    opacity: 0.5;
}

.news-box--3 {
    display: flex;
    gap: 2rem;
}

.news-box--3__item {
    display: flex;
    width: 100%;
    gap: 1.3rem;
}

.news-box--3__item__image {
    max-width: 6.6rem;
    object-fit: contain;
}

.news-box--3__item__text {
    display: grid;
    gap: 0.8rem;
}

.news-box--3__item__text__number {
    color: var(--grayish-blue);
    font-weight: 700;
    font-size: 2rem;
}

.news-box--3__item__text__title:hover {
    color: var(--soft-red);
    cursor: pointer;
}

.news-box--3__item__text__content {
    color: var(--dark-grayish-blue);
}

/* for desktop */
@media screen and (min-width:721px) {
    main {
        grid-template-columns: 13fr 6.2fr;
    }

    .news-box--1 {
        grid-template-columns: repeat(2, 1fr);
    }


    .news-box--1__content__button {
        position: absolute;
        bottom: 0;
    }

    .news-box--1__image {
        grid-column: span 2;
    }

    .news-box--3 {
        flex-direction: row;
        grid-column: span 2;
    }
}

/* for mobile but works in desktop too  */
/* 24 */
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    z-index: 2;
}

nav {
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

/* for mobile */
@media screen and (max-width:720px) {

    /* for accessibility */
    /* hides the checkbox without display none so it can be tabbed over */
    /* 6 */
    .nav-toggle {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
        display: inline-block;
    }

    .nav-toggle:checked~nav {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .nav-off-label {
        display: none;
    }

    .nav-on-label {
        display: block;
    }

    .nav-toggle:checked~nav .nav-on-label {
        display: none;
    }

    .nav-toggle:checked~nav .nav-off-label {
        display: block;
    }

    .nav__nav {
        display: none;
        flex-direction: column;
        background-color: var(--off-white);
        height: 100%;
        width: 50%;
        padding: 2rem;
        padding-top: 9rem;
        gap: 1.5rem;
    }

    .nav-toggle:checked~nav .nav__nav {
        display: flex;
    }

    .nav__item__link {
        color: black;
    }

    .news-box--1__content__button {
        margin-top: 2rem;
    }

    .news-box--3 {
        flex-direction: column;
    }
}